.menu {
  background-color: #96a78d;
  font-family: monospace;
  font-size: 1.2rem;
  height: 3rem;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  flex-direction: row;
}

[class^="menu-item"] {
  display: flex;
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}
.menu-item:hover {
  color: #4a6654;
}
.menu-item-h:hover {
  color: #4a6654;
}
.menu-item-h {
  font-size: 150%;
  margin-right: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.menu li {
  align-self: center;
}

body {
  background-color: #b6ceb4;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.vinyl-grid {
  display: grid;
  /* Skapar exakt 3 kolumner som delar lika på utrymmet (1fr = 1 fraction) */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Avstånd mellan korten */
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto; /* Centrerar hela griden på skärmen */
}

/* Anpassning för mobiler: Om skärmen är för liten blir det 1 kolumn istället */
@media (max-width: 768px) {
  .vinyl-grid {
    grid-template-columns: 1fr;
  }
}
